* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    /*#233237*/
    /*! background-image: url(../img/img-bg.png); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    font-family: 'Vidaloka', serif;
    height: 1vh;
    font-size: 12px;
}


/*div {
    background-image: url(../img/img-bg.png);
  }*/


/*se a tela tiver menos 400px vai carregar estes estilos*/

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}


/*breakpoint*/

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, serif;
}

.menu a {
    display: block;
    padding: 10px 15px;
    transition: background-color 2s, color 2s;
}

.menu a:active,
.menu a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.titulo {
    transition: all 2s;
    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    /*0% a 100% quando quiser fazer a cada por cento algum efeito e 
    e TO a FROM é quando for algo direto 
    */
    from {
        transform: scale(0.2) translateY(50vh);
        opacity: 0;
    }
    /*100%*/
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.site-subtitle,
.site-title {
    color: rgb(247, 243, 243);
    text-align: justify;
    opacity: 1;
}

.site-title {
    font-size: 5em;
    font-family: 'Tangerine', cursive;
    padding: 1vh;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Philosopher', sans-serif;
}

.contato,
.proj {
    padding: 2em;
    min-height: 100vh;
}

.contato h2,
.proj h2 {
    font-size: 2em;
    font-family: 'Vidaloka', serif;
    margin-bottom: auto;
    color: rgb(255, 255, 255);
    padding: 1vh;
    background: black;
    margin-top: 40vh;
}

.proj .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 540px) {
    .proj .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 540px) {
    .proj .grid {
        grid-template-columns: repeat(2, 240px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

.proj figure {
    text-align: center;
}

.img-port {
    height: 180px;
    width: 240px;
    object-fit: cover;
    border-radius: 100px;
    transition: transform 500ms;
}

.img-port:hover {
    transform: scale(1.2) rotate(-2deg);
}


/*@media (min-width: 1200px) {
    .img-port {
      height: auto;
      width: 100%;
    }
  }
*/

.contato .icons {
    text-align: center;
}

.contato a {
    color: rgb(255, 255, 255);
    font-size: 5em;
    transition: text-shadow .5s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1.2);
}